{% extends 'base_templates/base_template.html' %}
    {% block title %}
        Login
    {% endblock %}
    {% block scripts %}
        <script src="{{ url_for('static', filename='/login/js/login.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='/login/css/login.css') }}">
    {% endblock %}

    {% block header %}

    {% endblock %}

    {% block main %}

    <div class="bg-white p-3" id="form_container">
        <div class="text-center mb-2">
            <i class="fa-solid fa-book text-primary">&nbsp;Py Library</i>
        </div>
        <form class="text-center">
            <div class="mb-3">
                <input type="text" class="form-control" id="input_mail" placeholder="Mail">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="input_password" placeholder="Password">
            </div>
            <div class="mb-3">
                <button class="btn-md btn-primary" id="btn_login" onclick="login(event)">
                    <span class="fs-5 fw-bold">Login</span>
                </button>
            </div>
        </form>
    </div>

    {% endblock %}

    {% block footer %}

    {% endblock %}