{% extends 'base_templates/base_template.html' %}
    <title>
        {% block title %}
            Login
        {% endblock %}
    </title>
    {% block scripts %}
        <script src="{{ url_for('static', filename='/auth/js/auth.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='/auth/css/auth.css') }}">
    {% endblock %}

    {% block header %}

    {% endblock %}

    {% block main %}

    <div class="bg-white p-3" id="form_container">
        <form class="text-center">
            <div class="mb-3">
                <input type="text" class="form-control" id="input_mail" placeholder="Mail">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="input_password" placeholder="Password">
            </div>
            <div class="mb-3">
                <button class="btn-md btn-primary" id="btn_login" onclick="auth(event)">
                    <span class="fs-5 fw-bold">Login</span>
                </button>
            </div>
        </form>
    </div>

    {% endblock %}

    {% block footer %}

    {% endblock %}